@import './auxiliar/consts.css';

body {    
    background-image: url(./assets/Bg.png);    
    cursor: url(./assets/cursor.png), default;   
    margin: 0%;
}

.App {
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--green);
  }