@import './auxiliar/consts.css';

body {    
    background-image: url(./assets/Bg.png);    
    cursor: url(./assets/cursors/cursor.png), default;    
    margin: 0%;
    overflow-x: hidden;
  }
  
  .App {
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--green);
  }