@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pangolin/v6/cY9GfjGcW0FPpi-tWMfN79k.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sriracha/v5/0nkrC9D4IuYBgWcI9NbfTwQ.ttf) format('truetype');
}
.Content {
  display: flex;
  font-family: Source Sans Pro;
}
.Content p {
  min-width: 200px;
}
.Content img {
  width: 200px;
  max-height: 300px;
  vertical-align: text-top;
  margin-right: 20px;
}
.Content ul {
  max-width: 80%;
}
.Content ul li {
  margin-right: 40px;
}
@media screen and (max-width: 700px) {
  .Content {
    flex-direction: column;
  }
  .Content img {
    align-self: center;
    margin-bottom: 10px;
  }
}
h1 {
  font-family: Sriracha;
}
