@import '../../auxiliar/consts.css';
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sriracha/v5/0nkrC9D4IuYBgWcI9NbfTwQ.ttf) format('truetype');
}
.Navbar {
  position: fixed;
  height: 150px;
  width: 150px;
  max-width: 150px;
  background-color: black;
  display: flex;
  border-radius: 0% 0% 100%;
  box-shadow: 2px 2px 2px 2px #597240;
  animation-name: twinkleLightOff;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-family: Source Sans Pro;
  transition: max-width 0.7s, width 0.7s, height 0.7s;
}
.Navbar:hover {
  height: 500px;
  width: 500px;
  max-width: 500px;
  text-shadow: chartreuse;
  animation-name: twinkleLightOn;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.Navbar:hover .Logo {
  margin-top: 35px;
  height: 150px;
}
.Navbar:hover .Options {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  color: white;
}
@keyframes twinkleLightOn {
  from {
    box-shadow: 2px 2px 2px 2px #597240;
  }
  to {
    box-shadow: 2px 2px 2px 2px #bdf189;
  }
}
@keyframes twinkleLightOff {
  from {
    box-shadow: 2px 2px 2px 2px #bdf189;
  }
  to {
    box-shadow: 2px 2px 2px 2px #597240;
  }
}
.Logo {
  height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  transition: width 1s, height 1s;
}
.Options {
  margin-top: 90px;
  font-size: 0px;
  transition: font-size 0.5s;
  transition-delay: 0.3s;
  color: transparent;
}
#O1 {
  margin-left: 50px;
  transform: rotate(10deg);
}
#O1:hover {
  color: var(--green);
  text-decoration-line: underline;
  cursor: url(../../assets/cursors/pointer2.png), pointer;
}
#O2 {
  margin-left: 30px;
  transform: rotate(20deg);
}
#O2:hover {
  color: var(--green);
  text-decoration-line: underline;
  cursor: url(../../assets/cursors/pointer2.png), pointer;
}
#O3 {
  margin-left: -10px;
  transform: rotate(30deg);
}
#O3:hover {
  color: var(--green);
  text-decoration-line: underline;
  cursor: url(../../assets/cursors/pointer2.png), pointer;
}
#O4 {
  margin-left: -60px;
  transform: rotate(40deg);
}
#O4:hover {
  color: var(--green);
  text-decoration-line: underline;
  cursor: url(../../assets/cursors/pointer2.png), pointer;
}
